*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 0px;
}

.background-image{
    background-image: url(https://wallpapercrafter.com/sizes/2048x1152/12259-device-hardware-computer-technology-backlight-dark-4k.jpg);
    background-repeat: no-repeat;
    background-size: auto 900px;
    background-position: bottom;
}

.top-container{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.topLogo{
    width: 70px;
}

.top-logo{
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 80px;
}

.center-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    
}

.top-hover1{
    color: #0170ba;
}

.top-hover2{
    color: #034485;
}

.top-hover3{
    color: #e82c19;
}

.top-hover1:hover,
.top-hover2:hover,
.top-hover3:hover{
    transform: scale(1.15);
    transition: 0.4s;
    color: white;
    cursor: pointer;
    text-shadow:0 0 1ex white;
}

.social-top{
    width: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-top: 5px;
}

.socialTop1,
.socialTop2,
.socialTop3{
    width: 30px;
}

.socialTop1:hover,
.socialTop2:hover,
.socialTop3:hover{
    transform: scale(1.05);
    transition: 0.2s;
    cursor: pointer;
    border-radius: 100%;
}

.socialTop1:hover{
    box-shadow:0 0 1em red;
}

.socialTop2:hover,
.socialTop3:hover{
    box-shadow:0 0 1em blue;
}

.center,
.center-bottom{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.center-video{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-left: 30px;
}

.video{
    height: 95%;
    border-radius: 20px;
}

.m5h2{
    font-family: system-ui, sans-serif;
    text-shadow:0 0 1ex red;
    margin-bottom: 15px;
    color: white;
}

.description{
    width: 400px;
    color: #b2bec3;
    border-radius: 20px;

}

.right-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 100%;
}

.center-bottom,
.low-container{
    background-color: #000000;
    height: 400px;

}

.left-cb,
.right-cb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.left-cb{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.left-cb-unit{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 100px;
}


.lcb-h3{
    color: white;
    font-family: system-ui, sans-serif;
    font-weight: lighter;
    font-size: 25px;
    width: 400px;
}

.text-cb{
    color: #f6f6f6;
    font-family: system-ui, sans-serif;
    font-weight: lighter;
    font-size: 17px;
    width: 382px;
    height: 216px;
    margin-top: 10px;
    text-align: left;
}

.right-cb{
    display: flex;
    justify-content: start;
    padding-left: 45px;
}


.engine-image{
    height: 100%;
}

.line1{
    height: 50px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-in1{
    width: 80%;
    height: 1px;
    background-color: #b2bec3;

}

.low-container{
    display: flex;
    justify-content: center;
}

.end{
    width: 100%;
    height: 732px;
    background-color: #262626;
    display: flex;
    align-items: center;
    padding: 45px 0px;
}

.container-fixed{
    width: 100%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 220px;
    margin-right: 200px;
}

.first{
    width: 100%;
    height: 42px;
}

.languages{
    width: 420px;
    display: flex;
    justify-content: space-between;
}

.en,
.eng,
.spans{
    color: #8e8e8e;
    font-family: Helvetica, Arial, sans-serif;
}

.eng{
    color: #f6f6f6;
}

.en:hover,
.eng:hover,
.spans:hover{
    color: #f6f6f6;
    cursor: pointer;
}

.second{
    width: 100%;
    height: 469px;
    display: flex;
}

.s1{
    height: 100%;
    width: 17%;
}

.s2{
    width: 8%;
}

.low-h5{
    margin: 40px 0 10px 0;
    
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: medium;
}

.low-line{
    width: 100%;
    height: 1px;
    background-color: #6b6b6b;
    margin-bottom: 20px;
}

.text-unit{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.spans{
    margin: 0 0 17px 0;
    font-size: 15px;
}

.third{
    margin-top: 60px;
    width: 100%;
}

.finish{
    color: #fff;
}
